{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div style="height: 50vh; background-color: #292B42; padding-top: 20vh;">
        <div class="container">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
